img,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
}

.quarto-title-block .title {
  font-size: 3rem;  /* bigger title */
}

.quarto-title-block .subtitle {
  font-size: 1.4rem;
}

p {
  text-align: justify;
}

.domanda {
  font-style: italic;
  text-align: center;
  font-size: 1.1em;
  padding: 0.6em 1.5em;
  margin: 1.5em auto;
  color: #555;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  max-width: 85%;
}